<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="about-section">
                <h2>About Me</h2>
                <img src="{{ '/assets/images/senior-picture.jpg' | relative_url }}" alt="Profile" class="profile-img">
                <p>{{ site.description }}</p>
                   </div>
    
                <!-- Social media Links/email -->
                <div class="social-links">
                    <a href="https://github.com/HenryLange/fantasy-nhl-optimizer/" target="_blank">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="https://linkedin.com/in/henry-lange-253791377/" target="_blank">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="mailto:henrylange241@gmail.com">
                        <i class="fas fa-envelope"></i> Email
                    </a>
                </div>
        </aside>
        
        <main class="main-content">
            {{ content }}
        </main>
    </div>
</body>
</html>
